@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

body {
    /* by default */
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    height: 100%;
}

header {
    margin: 0;
    padding: 0;
}

.wrapper-co-1 {
    background-color: rgb(98, 219, 238);
    width: 100%;
    display: block;
}

.logo {
    display: block;
    margin: auto;    
    padding: .8em 0;    
    width: 250px;   
}

nav {
    height: 55px;
    display: flex;
    justify-content: space-around;
}   

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0;
    padding-top: 18px;
    position: relative;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: all 0.15s linear;

}

nav a:hover::before {
    width: 100%;
}

/* section */

section h2 {
    text-align: center;
    margin-bottom: 1.5em; 
}

section strong {
    margin-left: 1.9em;
}

section p {
    margin: 1em 1.9em;
    font-size: .9rem; 
}

ul {
    margin-left: 2.9em;
    padding: 0;
}

section img {
    width: 80%;
    display: block;
    margin: auto;
}

section video {
    display: block;
    margin: auto;
    height: 500px;
    width: 80%;
    margin-bottom: 1.9em;
}

/* footer */

footer {
    width: 100%;
    background-color: #51CAD2;
    bottom: 0;
}

.footer-container ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.footer-container li {
    display: inline-block;
}

.footer-container a {
    text-decoration: none;
    color: black;
    display: block;
    padding: .9em 1.2em;
    font-size: .9rem;
    margin: auto;
}

.footer-mark {
    margin: auto;
    margin-right: .6em;
    text-align: right;
    font-size: .7rem;
}

@media only screen and (min-width: 1200px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        background-color: rgb(98, 219, 238);
    }

    .wrapper-co-1 {
        background: inherit;
        margin-right: 0;
        width: auto;
        position: relative;
        top: -2px;
    }

    .logo {
        cursor: pointer;
        margin-left: 2em;
        margin-right: 0;
        padding: 0;
    }

    nav {
        height: 100px;
        display: flex;
        justify-content: space-around;
        margin-right: 1.8em;
        
    }
    
    nav li {
        margin-left: 30px;
        padding-top: 42px;
    }

    .course-container {
        margin-bottom: .7em;
    }

    section h2 {
        margin-top: 2.3em;
    }
}